.categories-admin {
  padding: 20px;
}

.categories-admin ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.categories-admin li {
  background: #f4f6f8;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
}
